@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background-color: #000006;
	display: flex;
	align-items: center;
	padding: 0 20px;
	z-index: 1000;
  }
  
  .navbar a {
	margin-right: 16px;
	text-decoration: none;
	color: #333;
  }
  
  .navbar img {
	display: block;
	margin-top: 3px;
  }

  .navtext {
	font-family: "Inter", sans-serif;	
	color: #555555
  }
  