services:
  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    env_file: .env
    volumes:
      - wordpress_db:/var/lib/mysql
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    env_file: .env
    volumes:
      - wordpress_files:/var/www/wordpress
    networks:
      - inception
    restart: always

  portfolio:
    build: ./requirements/portfolio
    container_name: portfolio
    env_file: .env
    networks:
      - inception
    restart: always

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    depends_on:
      - wordpress
      - portfolio
    env_file: .env
    volumes:
      - wordpress_files:/var/www/wordpress
    ports:
      - "443:443"
    networks:
      - inception
    restart: always

volumes:
  wordpress_db:
    driver_opts:
      type: none
      o: bind
      device: /home/cheyo/data/db
  wordpress_files:
    driver_opts:
      type: none
      o: bind
      device: /home/cheyo/data/wordpress

networks:
  inception:
    driver: bridge

